@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="jumbotron">
    <h1>Repair Shop</h1>
    <p class="lead">
        I am the sample text.
    </p>
</div>

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    Entity Framework Core ASP.NET Core Razor Pages web app.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    I am some text.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                    Example text, blabla.
                </p>
            </div>
        </div>
    </div>
</div>
