@page

@model RepairShop_Razor.Pages.RepairOrders.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RepairOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RepairOrder.Status" class="control-label"></label>
                <select asp-for="RepairOrder.Status" class="form-control" asp-items="ViewBag.Statussen"></select>
                <span asp-validation-for="RepairOrder.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairOrder.Customer" class="control-label"></label>
                <select asp-for="RepairOrder.CustomerID" class="form-control" asp-items="ViewBag.CustomerID"></select>
            </div>
            <div class="form-group">
                <label asp-for="RepairOrder.Employee" class="control-label"></label>
                <select asp-for="RepairOrder.EmployeeID" class="form-control" asp-items="ViewBag.EmployeeID"></select>
            </div>

            <div class="form-group">
                <label asp-for="RepairOrder.BeginDate" class="control-label"></label>
                <input asp-for="RepairOrder.BeginDate" class="form-control" asp-items="ViewBag.BeginDates"></>
            </div>
            <div class="form-group">
                <label asp-for="RepairOrder.EndDate" class="control-label"></label>
                <input asp-for="RepairOrder.EndDate" class="form-control" asp-items="ViewBag.EndDates"></>
            </div>

            <div class="form-group">
                <label asp-for="RepairOrder.HoursWorked" class="control-label"></label>
                <input asp-for="RepairOrder.HoursWorked" class="form-control" asp-items="ViewBag.HoursWorked"></>
            </div>
            <div class="form-group">
                <label asp-for="RepairOrder.Part" class="control-label"></label>
                <select asp-for="RepairOrder.PartID" class="form-control" asp-items="ViewBag.PartID"></select>
            </div>
            <div class="form-group">
                <label asp-for="RepairOrder.RepairDescription" class="control-label"></label>
                <textarea asp-for="RepairOrder.RepairDescription" class="form-control"></textarea>
                <span asp-validation-for="RepairOrder.RepairDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairOrder.WorkReport" class="control-label"></label>
                <textarea asp-for="RepairOrder.WorkReport" class="form-control"></textarea>
                <span asp-validation-for="RepairOrder.WorkReport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
